<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="Paridad" value="NONE" />
		<add key="Puerto" value="COM3" />
		<add key="Parada" value="UNO" />
		<add key="Bitdatos" value="8" />
		<add key="Baud" value="9600" />
		<add key="didivircadena" value="1" />
		<add key="posicion" value="23" />
		
		<add key="RutaPesajetxt" value="C:\ACOPIO\" />
	</appSettings>
</configuration>